* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e302b;
  }
  
  header {
    margin-bottom: 3rem;
  }
  
  .logo {
    max-width: 90%;
    image-rendering: -moz-crisp-edges;
  }
  
  .error {
    background: #A63446;
    padding: 0.5rem 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
  }

  .done {
    background: #56bc58;
    padding: 0.5rem 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input,
  .create {
    margin: 1rem 0;
    max-width: 100%;
  }
  
  .input {
    font-family: inherit;
    padding-bottom: 1rem;
    background: none;
    border: none;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    font-size: 1.25rem;
    transition: border-bottom-color 0.3s ease-in-out;
    caret-color: #f67129;
  }
  
  .input:focus {
    outline: none;
    border-bottom-color: #f67129;
  }
  
  .input::placeholder {
    color: #ffffff;
    opacity: 0.7;
  }
  
  .create {
    cursor: pointer;
    font-family: inherit;
    font-size: 1.15rem;
    color: #F5F5F5;
    border: none;
    background-color: #f67129;
    padding: 0.75em 1.25rem;
    box-shadow: 3px 3px 0 0 #ffffff;
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .create:hover {
    box-shadow: 0 0 0 0 #ffffff;
  }
  
  .created {
    color: #ffffff;
  }
  
  .created a {
    color: inherit;
  }

  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#f67129;
    color:#FFF;
    border-radius:50px;
    text-align:center;
  }
  
  .my-float{
    margin-top:22px;
  }