<form class="form" action="/url" method="POST">
  <% if(error) { %> 
    <div class="error">
      <%= error %> 
    </div>
  <% } %> 
  <% if (created) {  %> 
    <div class="done">
      <p class="created">Your short url is: <a href="<%= created %>"><%= created %> </a>
    </div>
  <% } %> 
  <input class="input" type="text" name="url" id="url" placeholder="enter a url" required>
  <input class="input" type="text" name="slug" id="slug" placeholder="enter a slug">
  <button type="submit" class="create">create</button>
  <a href="/dashboard" class="float">
    <i class="fa fa-home fa-lg my-float"></i>
  </a>
</form>

