<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shorten Url</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    <form class="form" action="/url" method="POST">
      <% if(error) { %> 
        <div class="error">
          <%= error %> 
        </div>
      <% } %> 
      <% if (created) {  %> 
        <div v-if="created" class="done">
          <p class="created">Your short url is: <a :href="created"><%= created %> </a></p>
        </div>
      <% } %> 
      <input class="input" type="text" name="url" id="url" placeholder="enter a url" required>
      <input class="input" type="text" name="slug" id="slug" placeholder="enter a slug">
      <button type="submit" class="create">create</button>
    </form>
    
</body>
</html>