<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title>Dashboard</title>
  <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
  <meta content="Themesdesign" name="author" />
  
  <link rel="shortcut icon" href="dashboard/images/favicon.ico">
  <link rel="stylesheet" href="dashboard/plugins/morris/morris.css">

  <!-- DataTables -->
  <link href="dashboard/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="dashboard/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

  <!-- Responsive datatable examples -->
  <link href="dashboard/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

  <link href="dashboard/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="dashboard/css/metismenu.min.css" rel="stylesheet" type="text/css">
  <link href="dashboard/css/icons.css" rel="stylesheet" type="text/css">
  <link href="dashboard/css/style.css" rel="stylesheet" type="text/css">

  <!--jVector Map Imports-->
  <link rel="stylesheet" href="https://jvectormap.com/css/jquery-jvectormap-2.0.5.css" type="text/css" media="screen"/>
  <script src="https://jvectormap.com/js/jquery-3.4.1.min.js"></script>
  <script src="https://jvectormap.com/js/jquery-jvectormap-2.0.5.min.js"></script>
  <script src="https://jvectormap.com/js/jquery-jvectormap-world-mill.js"></script>
</head>
<body>
  <%- body  %> 
  <!--Jquery js-->
  <script src="dashboard/js/bootstrap.bundle.min.js"></script>
  <script src="dashboard/js/metismenu.min.js"></script>
  <script src="dashboard/js/jquery.slimscroll.js"></script>
  <script src="dashboard/js/waves.min.js"></script>

  <!--Morris Chart
  <script src="dashboard/plugins/morris/morris.min.js"></script>
  <script src="dashboard/plugins/raphael/raphael.min.js"></script>
  
  <script src="dashboard/pages/dashboard.init.js"></script>
  -->
  <!-- App js -->
  <script src="dashboard/js/app.js"></script>

  <!-- Required datatable js -->
  <script src="dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="dashboard/plugins/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Buttons examples -->
  <script src="dashboard/plugins/datatables/dataTables.buttons.min.js"></script>
  <script src="dashboard/plugins/datatables/buttons.bootstrap4.min.js"></script>
  <script src="dashboard/plugins/datatables/jszip.min.js"></script>
  <script src="dashboard/plugins/datatables/pdfmake.min.js"></script>
  <script src="dashboard/plugins/datatables/vfs_fonts.js"></script>
  <script src="dashboard/plugins/datatables/buttons.html5.min.js"></script>
  <script src="dashboard/plugins/datatables/buttons.print.min.js"></script>
  <script src="dashboard/plugins/datatables/buttons.colVis.min.js"></script>
  
  <!-- Responsive examples -->
  <script src="dashboard/plugins/datatables/dataTables.responsive.min.js"></script>
  <script src="dashboard/plugins/datatables/responsive.bootstrap4.min.js"></script>

  <!-- Datatable init js -->
  <script src="dashboard/pages/datatables.init.js"></script>   
  <script src="dashboard/js/util.js"></script>
</body>
